# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/
ENV/

# Environment variables
.env

# PostgreSQL / local database files
*.db
*.sqlite3

# Machine Learning models
backend/ml_models/
*.pkl
*.joblib

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python tools
.pytest_cache/
.mypy_cache/
